<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/controller.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= username %></p>
    <p>Last page was <%= lastPage %></p>
    
    <% for(var idx in items){ %>
      <a href="<%= items[idx].uri %>"><div title="<%= items[idx].uuid %>"><%= items[idx].name %></div></a>
    <% } %>
	
  </body>
</html>