<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="platform/platform.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <link rel="import" href="shy-elt-colorpicker/shy-elt-colorpicker.html" />
    <link rel="import" href="elements/it-list.html" />
    <link rel="import" href="elements/itdb-element.html" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= username %></p>
    <p>Last page was <%= lastPage %></p>

    <itdb-element id="db" databaseUrl="/"></itdb-element>
    <shy-elt-colorpicker width="50"></shy-elt-colorpicker>
    <it-list databaseId="db"></it-list>
    <h2>Added Items</h2>
    <it-list databaseId="db" method="addedItems"></it-list>
    <h2>Removed Items</h2>
    <it-list databaseId="db" method="removedItems"></it-list>

  </body>
</html>