<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="platform/platform.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <link rel="import" href="elements/it-list.html" />
    <link rel="import" href="elements/itdb-element.html" />
    <link rel="import" href="elements/it-guifactory.html" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= username %></p>
    <p>Last page was <%= lastPage %></p>

    <itdb-element id="db" databaseUrl="/"></itdb-element>
    <it-guifactory id="guiFactory"></it-guifactory>
    <h2>All Indexed Tags</h2>
    <it-list databaseId="db" guiFactoryId="guiFactory" method="fetchAllTags"></it-list>
    <h2>All Indexed Items</h2>
    <it-list databaseId="db" guiFactoryId="guiFactory" method="fetchAll"></it-list>
    <h2>Added Items</h2>
    <it-list databaseId="db" guiFactoryId="guiFactory" method="addedItems"></it-list>
    <h2>Removed Items</h2>
    <it-list databaseId="db" guiFactoryId="guiFactory" method="removedItems"></it-list>

  </body>
</html>